{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% macro isel_prototype(form) %}
    <table class="table">
        <tr>
            <td class="isel_label">{{ form_label(form.resourceNode) }}</td>
            <td class="isel_widget">{{ form_widget(form.resourceNode) }}</td>
            <td class="isel_widget">{{ form_errors(form.resourceNode) }}</td>
        </tr>
    </table>
{% endmacro %}

{% macro tabs(inc) %}
    <li><a href="#" data-id="{{ inc }}" class="dfasmtab">{{ 'cpasimusante_itemselector_exerciseid'|trans({'%id%':inc}, 'resource') }}</a></li>
{% endmacro %}
{#
    tabcontent(inc, datacode)
    - inc : iframe id
    - datacode : selected exercise
#}
{% macro tabcontent(inc, datacode) %}
    <div class="panel-body dfasmcontent" id="text_content-{{ inc }}">
        <iframe class="activity-iframe" src="{{ path('claro_resource_open', { 'resourceType': 'ujm_exercise', 'node': datacode }) }}"></iframe>
    </div>
{% endmacro %}

{% block section_content %}
<div data-ng-app="ItemSelectorModule">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
        </div>
        <item-selector-form></item-selector-form>
    </div>

    <item-display></item-display>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusanteitemselector/css/itemselector.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'resource' }) }}"></script>
    <script>
        AngularApp = {}
        AngularApp.webDir = "{{asset('')}}"
        window.mainResourceType = "{{ mainResourceType }}"
        window.itemSelectorMain = {{ itemSelectorMain|json_encode|raw }}
        window.itemSelectorItems = {{ itemSelectorItems|json_encode|raw }}
        window.itemList = {{ itemList|json_encode|raw }}
        window.itemCountMax = {{ itemCountMax }}
        window.itemSelectorId = {{ id }}
        window.itemResourceTypeName = "{{ itemResourceTypeName }}"
    </script>
    <script src='{{ hotAsset('dist/cpasimusante-item-selector-item-selector.js') }}'></script>
{% endblock %}
